@import 'card.css';
@import 'page.css';
.main{
    background: #f0f0f0;
    width: 1140px;
    height: 100%;
    grid-area: main;
    position: relative;
    padding-bottom: 157px;
}
.search-words {
    display: none;
}
.search-words.active {
    display: flex;
    position: absolute;
    top: 80px;
    left: 60px;
    justify-content: center;
    align-items: center;

}
.search-words.active span {
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
}
#page-search{
    width: 200px;
    height: 30px;
    border: none;
    outline: none;
    padding: 5px;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.55);
}
span .highlight {

}
p mark{
    font-size: inherit;
    background: yellow;
}