.search-window {
    box-sizing: border-box;
    width: 450px;
    height: 50vh;
    position: absolute;
    overflow: auto;
    background: #f0f0f0;
    padding: 20px;
    border: 2px solid rgba(145, 145, 145, 0.32);
    border-radius: 5px;
    left: 60px;
    top: 60px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-50px);
    transition: 0.5s linear;
}

.search-window.active {
    transition: 0.5s linear;
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}
.search-window.active.error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.search-window.active.error:before {
   content: 'No exact matches found';
    font-size: 28px ;

}
.search-window.active.error:after {
    content: ' \2639';
    font-size: 40px ;
}
.prev-section {
    max-width: 450px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    text-align: justify;
    border-bottom: 2px solid rgba(178, 154, 154, 0.34);
}

.prev-link img {
    max-width: 70px;
    max-height: 70px;
    object-fit: cover;
    border: 5px solid rgba(255, 255, 255, 0.64);;
}

.prev-main {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
    margin: 0 auto;
    overflow: hidden;
}
