@import './css/normalize.css';
@import 'css/header.css';
@import 'css/main.css';
@import 'css/footer.css';

@font-face {
    font-family: 'SegoeUI';
    src: local('SegoeUI'),
    url(./fonts/SegoeUI.ttf);
}

* {
    font-family: "SegoeUI", sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #f0f0f0;
    height: 100vh;
}

.root {
    margin: 0 auto;
    width: 1140px;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: auto 1fr auto;
}
.preloader{
    position: absolute;
    width: 100%;
    height: 100%;
bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes preload {
    0%,10%{
        background: conic-gradient(#201b1b,transparent 100%, rgba(255, 255, 255, 0));
        transform:  rotate(0deg) scale(1,1);
    }
    20%,30%{
        background: conic-gradient(#201b1b,transparent 80%, rgba(255, 255, 255, 0));
        transform:  rotate(90deg) scale(1,1);
    }
    40%,50%{
        background: conic-gradient(#201b1b,transparent 60%, rgba(255, 255, 255, 0));
        transform:  rotate(180deg) scale(1,1);
    }
    60%,70%{
        background: conic-gradient(#201b1b,transparent 60%, rgba(255, 255, 255, 0));
        transform:  rotate(270deg) scale(1,1);
    }
    80%,90%{
        background: conic-gradient(#201b1b,transparent 80%, rgba(255, 255, 255, 0));
        transform:  rotate(360deg) scale(1,1);
    }
    100%{
        background: conic-gradient(#201b1b,transparent 80%, rgba(255, 255, 255, 0));
        transform:  rotate(0deg) scale(1,1);
    }
}
.preloader .ouyBox{
    position: relative;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    width: 200px;
    height: 200px;
    border-radius:50% ;
    animation: preload 3s infinite;
}

.preloader .innerBox{
    width: 180px;
    height: 180px;
    background: white;
    border-radius:50% ;

    /*animation: preload 5s infinite reverse ;*/

}
.top {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    background: rgb(255, 255, 255);
    border: 2px solid black;
    transform: rotateX(90deg) translateZ(60px);
}

.bot {
    border: 2px solid black;
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    background: rgb(255, 255, 255);
    transform: rotateX(90deg) translateZ(-60px);
}

/*-----------------btn-scroll-up*/
.btn-scroll-up {
    position: fixed;
    z-index: 1000;
    top: 600px;
    right: 20px;
    background: #2F80ED;
    border-radius: 5px;
    border: none;
    width: 121px;
    height: 37px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    transform: translateX(10px);
    transition: 0.4s linear;
    overflow: hidden;
}

.btn-scroll-up.active {
    transition: 0.4s linear;
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
}
